<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div>
	<h2>Camera</h2>
	{{range .Camera}}
	<div>
		<h3>{{.Name}}</h3>
		{{if .MPEGTS}}
		<a href="{{.MPEGTS}}">Live</a>
		{{else}}
		<a href="{{.Video}}">Video</a>
		{{end}}
		{{if .Input}}<div>Input: {{.Input}}</div>{{end}}
		<div>Network interface: {{.NetworkInterface}}</div>
		<div>Mac address: {{.MacAddress}}</div>
	</div>
	{{end}}
</div>
<div>
	<h2>Count</h2>
	{{range .Count}}
	<div>
		<h3>{{.Src}}</h3>
		<a href="{{.TrackVideo}}">Track video</a>
		<div>Track: {{.Track}}</div>
		<div>Config: {{.Config}}</div>
	</div>
	{{end}}
</div>

</body>
</html>
