<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div>
	<h2>RTSP</h2>
	{{range .RTSP}}
	<div>
		<h3>{{.Name}}</h3>
		<div>link: {{.Link}}</div>
		<div>network interface: {{.NetworkInterface}}</div>
		<div>mac address: {{.MacAddress}}</div>
		<div>pid: {{.Pid}}</div>
		<div>start: {{.Start}}</div>
		<a href="{{.Live}}">Live</a>
	</div>
	{{end}}
</div>
<div>
	<h2>Count</h2>
	{{range .Count}}
	<div>
		<h3>{{.TrackVideo}}</h3>
		<div>config: {{.Config}}</div>
		<div>pid: {{.Pid}}</div>
		<div>start: {{.Start}}</div>
		<a href="{{.TrackLive}}">Track live</a>
	</div>
	{{end}}
</div>

</body>
</html>
