<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div>
	<h2>RTSP</h2>
	{{range .RTSP}}
	<div>
		<h3>{{.Name}}</h3>
		<div>Link: {{.Input}}</div>
		<div>Network interface: {{.NetworkInterface}}</div>
		<div>Mac address: {{.MacAddress}}</div>
		<a href="{{.Video}}">Video</a>
	</div>
	{{end}}
</div>
<div>
	<h2>Count</h2>
	{{range .Count}}
	<div>
		<h3>{{.Src}}</h3>
		<div>Config: {{.Config}}</div>
		<div>Track: {{.Track}}</div>
		<a href="{{.TrackVideo}}">Track video</a>
	</div>
	{{end}}
</div>

</body>
</html>
