<!DOCTYPE html>
<html>
<head>
	<script src="/static/util.js"></script>

	<style>
body {
	font-size: 4vw;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.alert {
  animation: alertKeyframes 2s infinite;
}
@keyframes alertKeyframes {
  0% {color: inherit;}
  50% {color: red;}
  100% {color: inherit;}
}
	</style>
</head>
<body>
<h1><img src="/static/logo.jpg" style="vertical-align: bottom; height: 1.5em;">Topunion EMS</h1>
<pre id="info"></pre>

<table id="tb">
	<thead><tr>
		<th>Time</th>
		{{range .Camera}}
		<th>{{.}}</th>
		{{end}}
	</tr></thead>
	<tbody>
	{{$cameras := .Camera}}
	{{range .Data}}
		{{$datum := .}}
		<tr>
			<td>{{$datum.DateHour}}</td>
			{{range $cameras}}
			{{$camName := .}}
			<td>{{index $datum.Camera $camName}}</td>
			{{end}}
		</tr>
	{{end}}
	</tbody>
</table>
<div style="text-align: center">
	<a href="{{.Prev}}">Prev</a>
	<span style="margin-left: 1em;"></span>
	<a href="{{.Next}}">Next</a>
</div>

<script>
let page = {{.}};

function main() {
}

main();
</script>
</body>
</html>
